:root {
  --menu-width: 100px;
}
* {
  padding: 0;
  margin: 0;
}

/* 메인 박스 */
.map_wrapper {
  position: relative;
  width: 100vw;
  height: 85vh;

  min-height: 600px;

  z-index: 0;
}
/* 사이드 메뉴 설정 */
.side_menu {
  width: var(--menu-width);
  height: 100%;
  background-color: #f0f0f0;
  float: left;

  position: absolute;
  z-index: 10;
}
/* 지도 크기 설정 */
.kakao_map {
  width: calc(100% - var(--menu-width));
  height: 100%;
  float: right;
}

a {
  text-decoration: none;
  color: black;
  display: flexbox;
}

/* 사이드 메뉴 관련 설정 */
.side_menu li {
  box-sizing: border-box;
  width: 100%;
  height: calc(var(--menu-width) - 20px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.side_menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 80%;
  border-radius: 7px;
  background-color: white;

  z-index: 100;
}

.side_menu a:hover {
  background-color: #f1d00a;
  box-shadow: 1px 1px 5px gray;
  transition: 0.3s;
}

.side_menu div {
  font-size: 9px;
}

.side_menu_wrapper {
  position: absolute;
  width: 350px;
  height: 100%;

  z-index: 10;
}

/* 메뉴 선택시 보여지기 */
.side_menu_car_info {
  position: absolute;
  left: 100px;
  width: 300px;
  height: 100%;
  z-index: 3;
  background-color: lightgray;

  transition: 0.5s ease-in-out;
}
/* 메뉴 숨기기 */
.side_menu_hide {
  position: absolute;
  left: -200px;
  width: 300px;
  height: 100%;
  z-index: 3;

  transition: 0.5s ease-in-out;
}
