* {
  padding: 0;
  margin: 0;
}

.rating_topic {
  font-weight: 800;
  margin-bottom: 3%;
}

/** 타이틀 아래 버튼 디자인 부분 */

.rating_btn {
  margin-top: 3%;
  margin-bottom: 3%;
}

.choicebtn {
  width: 400px;
  height: 50px;
  background: #f7be16;
  color: black;
  font-size: 15px;
  border: none;
  font-weight: 500;
}

.leftbtn {
  width: 400px;
  height: 50px;
  background: #f5f5f5;
  color: black;
  font-size: 15px;
  border: none;
  font-weight: 500;
}

.leftbtn:hover,
.leftbtn:focus {
  background: #f7be16;
  color: black;
  font-size: 15px;
  border: none;
  font-weight: 500;
}

/** 본문 내용 */

.ratingcontainer {
  max-width: 800px;
  margin: 0 auto;
}

/** 평가 등록하는 부분 */
.ratingpart {
  max-width: 700px;
  margin: 0 auto;
}

.ratingtitle {
  background-color: none;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  border-bottom: 2px solid #293462;
  display: flex;
  justify-content: space-between;
}

.ratingname {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
}
.nameinput {
  margin: 0 auto;
  font-style: bolder;
  display: flex;
  place-items: center;
  width: 700px; /* 원하는 너비 */
  height: 50px; /* 원하는 높이 */
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  font-size: 15px;

  padding-left: 10px;
}
.partcontainer {
  margin-top: 3%;
  margin-bottom: 1%;
}
.ratingsatis {
  font-size: 17px;
  padding-top: 15px;
  font-weight: 600;
  float: left;
}
.ratingcar {
  font-size: 17px;
  padding-top: 15px;
  font-weight: 600;
  margin-left: 23rem;
}
.inputcontainer {
  float: left;
}

.satisinput {
  font-style: bolder;
  display: flex;
  place-items: center;
  width: 300px; /* 원하는 너비 */
  height: 40px; /* 원하는 높이 */
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  float: left;
  font-size: 15px;
}
.carinput {
  font-style: bolder;
  display: flex;
  place-items: center;
  width: 300px; /* 원하는 너비 */
  height: 40px; /* 원하는 높이 */
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  margin-left: 23rem;
  font-size: 15px;
}
.satisinput,
.carinput {
  padding-left: 10px;
}
.ratingitem {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  margin-top: 3rem;
}

.iteminput {
  margin: 0 auto;
  display: flex;
  place-items: center;
  width: 700px; /* 원하는 너비 */
  height: 150px; /* 원하는 높이 */
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  size: 30;
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
}

/** 등록버튼 */
.sendrating {
  margin: 0 auto;
  width: 400px;
  height: 40px;
  background: #293462;
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 700;
  border: none;
  margin-left: 23%;
  margin-top: 3rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.sendrating:hover {
  margin: 0 auto;
  width: 400px;
  height: 40px;
  background: #f7be16;
  color: #293462;
  font-size: 15px;
  font-weight: 700;
  border: none;
  margin-left: 23%;
  margin-top: 3rem;
  transition: 0.2s;
}
