* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*전체에 박스사이징*/
  outline: none; /*focus 했을때 테두리 나오게 */
}

.login_body {
  border-radius: 20px;
  padding: 100px;
  background: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 3%;
}

.login_form {
  font-style: bolder;
  display: grid;
  place-items: center;
  width: 400px; /* 원하는 너비 */
  height: 450px; /* 원하는 높이 */
  background-color: #f5f5f5;
  border-radius: 10px;
}

.login_body .h3 {
  font-size: 30px;
  display: block !important;
  font-weight: 900;
}

.login_tit_wrapper {
  display: block;
  margin-right: 90px;
  margin-top: 30px;
}

.login_input_wrapper {
  display: block;
  margin-bottom: 30px;
}

.login_form .id {
  display: inline-block;
  width: 300px; /* 원하는 너비 */
  height: 20px; /* 원하는 높이 */
  padding: 15px;
  font-size: 18px;
  /* border: 1px solid #000; */
  margin: auto; /*중앙 정렬*/
  margin-bottom: 20px;

  border: 2px solid white; /* 테두리 스타일과 색상 */
  border-radius: 5px; /* 테두리의 둥근 정도 */
  background-color: white; /* 배경색 */
}

.login_form .password {
  display: inline-block;
  width: 300px; /* 원하는 너비 */
  height: 20px; /* 원하는 높이 */
  padding: 15px;
  font-size: 18px;
  border: 1px solid #000000; /* 굵기, 스타일, 색상 순서대로 지정 */
  /* border: 1px solid #000; */
  margin: auto; /*중앙 정렬*/
  margin-bottom: 20px;

  border: 2px solid white; /* 테두리 스타일과 색상 */
  border-radius: 5px; /* 테두리의 둥근 정도 */
  background-color: white; /* 배경색 */
}

.login_form .login_tit {
  text-align: left;
}

.login_form .login_label {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  font-size: 15px;
  font-weight: 600;

  margin-bottom: 5px;
}

.login_form .login_comple {
  display: inline-block;
  padding: 10px 105px;
  border-radius: 15px; /* 반원 형태를 만들기 위해 큰 값 사용 */
  background-color: #293462; /* 버튼 배경색 */
  color: #fff; /* 텍스트 색상 */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
  margin: auto; /*중앙 정렬*/
}

.login_form .login_comple:hover {
  background-color: #f7be16; /* 마우스 호버 시 배경색 변경 */
  color: #000000;
  font-weight: bold;

  transition: 0.3s;
}

.login_form .go_join {
  display: inline-block;
  padding: 10px 100px;
  border-radius: 15px; /* 반원 형태를 만들기 위해 큰 값 사용 */
  border-color: #293462;
  background-color: #f5f5f5; /* 버튼 배경색 */
  color: #293462; /* 텍스트 색상 */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
  margin: auto; /*중앙 정렬*/
}

.login_form .go_join:hover {
  background-color: #f7be16; /* 마우스 호버 시 배경색 변경 */
  color: #000000;
  font-weight: bold;

  transition: 0.3s;
}
