* {
  padding: 0;
  margin: 0;
}

.notice table {
  border-collapse: collapse;
  border-spacing: 0;
}
.notice section.notice {
  padding: 80px 0;
}

.notice .page-title {
  margin-bottom: 60px;
}
.notice .page-title h3 {
  font-size: 28px;
  color: black;
  font-weight: 900;
  text-align: left;
}

.notice #board-search .search-window {
  padding: 15px 0;
  background-color: #f5f5f5;
}
.notice #board-search .search-window .search-wrap {
  position: relative;
  /*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}
.notice #board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
.notice #board-search .search-window .search-wrap input:focus {
  border-color: #293462;
  outline: 0;
  border-width: 1px;
}

.notice #board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.notice .board-table {
  font-size: 13px;
  width: 100%;
  border-top: 2px solid #293462;
  border-bottom: 1px solid #293462;
}

.notice .board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.notice .board-table a:hover {
  text-decoration: underline;
}
.notice .board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.notice .board-table .th-date {
  width: 200px;
}

.notice .board-table th,
.board-table td {
  padding: 14px 0;
}

.notice .board-table tbody td {
  border-top: 1px solid #293462;
  text-align: center;
}

.notice .board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #293462;
  text-align: left;
}

.notice .board-table tbody th p {
  display: none;
}

.notice .btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.notice .btn-search {
  background: #293462;
  color: #f5f5f5;
}

.notice .btn-search:hover,
.btn-search:focus {
  background: #f7be16;
  border-color: #293462;
  color: #fff;
}

/* reset */

.notice .clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.notice .container {
  width: 1100px;
  margin: 0 auto;
}
.notice .blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.notice .page-list {
  text-align: center;
}

/* button */

.notice .num-btn {
  display: inline-block;
  width: 90px;
  height: 40px;
}

.notice .btn-search:hover,
.btn-search:focus {
  background: #f7be16;
  border-color: #293462;
  color: #fff;
}

.notice .btn-page {
  width: 70%;
  height: 70%;
  background: #293462;
  color: #f5f5f5;
}

.notice .btn-page:hover,
.btn-page:focus {
  background: #f7be16;
  border-color: #293462;
  color: #fff;
}
